* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    margin: 0;
    background: linear-gradient(135deg, #112858, #1A8585);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.logo {
    display: flex;
    align-self: flex-start;
    margin: 10px;
    gap: 10px;
}

.logo img {
    height: 43px;
    width: 143px;
    padding: 0 10px;
}

.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    margin-top: 40px;
    text-align: center;
}

button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.08);
}

.imagem {
    flex: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}